/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    .flex-container {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        max-width: 1000px;
        margin: auto;
      }
    
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}
